---
import svgPinkStar from '../assets/pink-star.svg'
import Button from './Button.astro'
import { buy } from '../sample'

---


<section class="px-3" id="hire">
    <div class="max-w-3xl mx-auto bg-white text-center flex flex-col gap-4 border-3 shadow-[8px_8px_0px_rgba(0,0,0,0.3)]  relative p-10">
     <h1 class="text-3xl">想创业，没门路，没人教？线下教学. 给我</h1>
     <p class="text-lg max-w-lg mx-auto">抖音号: VMimi33453
微信号: zmmz9108
邮箱: x@glee.ch
地址: 芒市新玩厂落日集市，欢迎到店试用

常驻保山、芒市，不定期会在瑞丽、腾冲等地出现，欢迎联系👏</p>
     <div class="flex justify-center">
       <Button text={buy.title} link={buy.link} target="_blank" />
     </div>
     <img src={svgPinkStar.src} alt="svg" width="80" class="absolute -top-10 right-20" />
    </div>
  </section>
